[user]
	email = abdulnafe.toulaimat@gmail.com
	name = abdulnafe-t
[github]
	user = abdulnafe-t
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
