Language: Cpp

IndentWidth: 6
ContinuationIndentWidth: 0
ConstructorInitializerIndentWidth: 2
AccessModifierOffset: -6
ColumnLimit: 90
UseTab: Never

AlignAfterOpenBracket: true
AlwaysBreakTemplateDeclarations: true

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true     # case N: XXX
AllowShortCaseExpressionOnASingleLine: true  # case N -> XXX
AllowShortLambdasOnASingleLine: Inline

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeCpp11BracedList: true
SpaceAfterTemplateKeyword: false
RemoveEmptyLinesInUnwrappedLines: true

NamespaceIndentation: All
IndentCaseLabels: false
LambdaBodyIndentation: Signature

WrapNamespaceBodyWithEmptyLines: Never
FixNamespaceComments: false
CompactNamespaces: false

BreakBeforeBraces: Custom
BraceWrapping:
 AfterNamespace: false
 AfterStruct: false
 AfterClass: false
 AfterFunction: false
 SplitEmptyFunction: false
 SplitEmptyRecord: false
 SplitEmptyNamespace: false
 BeforeCatch: true
 BeforeElse: true
  
AlignConsecutiveAssignments:
  Enabled: true
  PadOperators: true
AlignConsecutiveDeclarations: Consecutive
AlignOperands: Align
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AlignCaseColons: false

EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always

BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
